body {
  background-color: hsl(0, 0%, 95%);
  font-size: 15px;
}

h5 {
  color: hsl(0, 0%, 95%);
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
}

img {
  margin: 20px 18px;
}

/* Id selection */

#cards {
  padding: 8% 27% 4%;
}

/* Classes */

.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  color: #e38826;
  font-size: 13px;
  background: #ffff;
  padding: 10px 20px 10px 20px;
  border: solid #fffff 2px;
  border-width: 2px;
  text-decoration: none;
  margin: 20px 18px;
}

.btn-sedan {
  color: hsl(31, 77%, 52%);
}

.btn-suv {
  color: hsl(184, 100%, 22%);
}

.btn-luxury {
  color: hsl(179, 100%, 13%);
}

.card-title {
  margin: 20px 18px;
  font-family: 'Big Shoulders Display', cursive;
  font-weight: 700;
  font-size: 35px;
}

.card-text {
  margin: 20px 18px 40px;
}

.sedan-card {
  border-radius: 0;
  background-color: hsl(31, 77%, 52%);
  border-top-left-radius: 0.50rem;
  border-bottom-left-radius: 0.50rem;
}

.suv-card {
  border-radius: 0;
  background-color: hsl(184, 100%, 22%);
}

.luxury-card {
  border-radius: 0;
  background-color: hsl(179, 100%, 13%);
  border-top-right-radius: 0.50rem;
  border-bottom-right-radius: 0.50rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding-bottom: 4%;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Hover modes */

.btn:hover {
  background: #e38826;
  text-decoration: none;
  border-width: 2px;
  border-color: #fff;
  color: #fff;
}

.btn-suv:hover {
  background: hsl(184, 100%, 22%);
}

.btn-luxury:hover {
  background: hsl(179, 100%, 13%);
}

/* Media Query breakpoints */

@media (max-width:1350px) and (min-width: 550px) {
  #cards {
    padding: 8% 18% 4%;
  }
}

@media (max-width:992px) and (min-width: 767px) {

  .sedan-card {
    border-bottom-left-radius: 0;
  }

  .suv-card {
    border-top-right-radius: 0.50rem;
    border-bottom-right-radius: 0.50rem;
  }

  .luxury-card {
    border-top-right-radius: 0;
    border-bottom-left-radius: 0.50rem;
  }
}

@media (max-width:767px) {

  #cards {
    padding: 20% 10% 4%;
  }

  .sedan-card {
    border-top-left-radius: 0.50rem;
    border-top-right-radius: 0.50rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .suv-card {
    border-radius: 0;
  }

  .luxury-card {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0.50rem;
    border-bottom-right-radius: 0.50rem;
  }
}
